[data-anim="character"] {
    width: 70%;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto 40px;
    display: block;
    transform-style: preserve-3d;
}

@keyframes lookaway-up {
    from {
        transform: rotate3d(.2, 0, -.01, 20deg);
    }

    to {
        transform: rotate3d(.2, -.05, -.01, 20deg);
    }
}

@keyframes lookaway-down {
    0% {
        transform: rotate3d(-.2, 0, -.01, 20deg);
    }

    100% {
        transform: rotate3d(-.2, -.05, .01, 20deg);
    }
}

[data-anim="character"] .ears {
    transform-origin: 50% 50% 5px;
}

[data-anim="character"] .eyes {
    transform-origin: 50% 50% -40px;
}

[data-anim="character"] .muzzle {
    transform-origin: 50% 50% -44px;
}

[data-anim="character"] .ears, [data-anim="character"] .eyes, [data-anim="character"] .muzzle {
    transition: transform .5s;
}

[data-anim="character"] .focused {
    transition: transform .1s;
}

/* Eyelid subtle motion when looking away */

[data-anim="character"].look-away .ears,
[data-anim="character"].look-away .eyes,
[data-anim="character"].look-away .muzzle {
    transition-duration: .3s;
    animation: 3s infinite alternate;
}

[data-anim="character"].look-away.up .ears,
[data-anim="character"].look-away.up .eyes,
[data-anim="character"].look-away.up .muzzle {
    transform: rotate3d(.2, 0, 0, 20deg) !important;
}

[data-anim="character"].look-away.down .ears,
[data-anim="character"].look-away.down .eyes,
[data-anim="character"].look-away.down .muzzle {
    transform: rotate3d(-.2, 0, 0, 20deg) !important;    
}

[data-anim="character"].look-away.playing.up .ears,
[data-anim="character"].look-away.playing.up .eyes,
[data-anim="character"].look-away.playing.up .muzzle {
    animation-name: lookaway-up;
}

[data-anim="character"].look-away.playing.down .ears,
[data-anim="character"].look-away.playing.down .eyes,
[data-anim="character"].look-away.playing.down .muzzle {
    animation-name: lookaway-down;
}
